<div class="container mt-4 mb-4">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a routerLink="/home" class="navbar-brand navBrand"><img class="d-none d-md-inline-block "
        src='../assets/img/logo-all-dark.png'></a>
    <button class="navbar-toggler mr-auto navBarBtn" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="mr-auto"><img class=" d-inline-block d-md-none" src="../assets/img/logotype-sm-dark.png" alt=""></a>
    <a routerLink="/cart" class="fa fa-shopping-cart d-sm-inline-block ml-sm-5 order-md-1"
      style="font-size: 24px; color: #3F5D45;  text-decoration: none;"></a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item active mr-4">
          <a class="nav-link" routerLink="/home" style="color: #8DA291; font-size: 16px;">首頁<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ml-sm-4 mr-sm-4">
          <a class="nav-link" routerLink="/dessert" style="color: #8DA291; font-size: 16px;">甜點</a>
        </li>
        <li class="nav-item ml-sm-4 mr-sm-4">
          <a class="nav-link" routerLink="/login" style="color: #8DA291; font-size: 16px;">登入</a>
        </li>
      </ul>
    </div>

  </nav>
</div>

<router-outlet></router-outlet>


<div class="d-md-none bg-sm-section">
  <div class="row d-flex justify-content-center">
    <img class="mr-3 mt-4" src="../assets/img/logo-light.png" alt="">
    <span class="form-text mt-4">訂閱你我的甜蜜郵件</span>
  </div>
  <span class="material-icons form-icon mt-3">email</span>
  <input class="input-box ml-4 mt-3" type="email" style="padding-left: 36px;" name="" id="">
  <input type="submit" value=" " class="submit-btn mt-3">
  <span class="material-icons submit-icon mt-3 ml-2">arrow_forward</span>
</div>

<div class="d-none d-md-block">
  <div class=" bg-section">
    <div class="row arr-form-content">
      <div class="col-1"></div>
      <div class="col-1 mt-2">
        <img class="" src="../assets/img/logo-light.png" alt="">
      </div>
      <div class="col-3 mr-md-5 mt-1">
        <i class="form-text">訂閱你我的甜蜜郵件</i>
      </div>
      <div class="col-6">
        <span class="material-icons form-icon">email</span>
        <input class="input-box" type="email" style="padding-left: 37px;" name="" id="">
        <input type="submit" value=" " class="submit-btn">
        <span class="material-icons submit-icon">arrow_forward</span>
      </div>
    </div>
  </div>
</div>

<div class="footer-bg">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-7 d-md-none">
      <img class="mt-3 mb-5" src="../assets/img/logotype-lg-dark.png" alt="">

      <ul></ul>
      <li class="footer-text-style">07-1234-5678</li>
      <li class="footer-text-style"> sweetaste@email.com</li>
      <li class="footer-text-style">800 高雄市新興區幸福路 520 號</li>

      <img class="mt-5" src="../assets/img/ic-line@.png" alt="">
      <img class="mt-5" src="../assets/img/ic-facebook.png" alt="">
    </div>
    <p class="d-md-none ml-5 mt-3 footer-text-style">© 2018 Sweetaste* All Rights Reserved</p>
    <div class="col-3 mt-md-5 d-none d-md-inline-block">
      <img class="mb-md-5" src="../assets/img/logotype-lg-dark.png" alt="">
      <p class=" footer-text-style mt-md-5 mb-md-5">07-1234-5678 sweetaste@email.com 800 高雄市新興區幸福路 520 號
      </p>
      <img src="../assets/img/ic-line@.png" alt="">
      <img src="../assets/img/ic-facebook.png" alt="">
    </div>
    <div class="col-3"></div>
    <div class="col-4">
      <div class="row">
        <div class="col-7"></div>
        <div class="col-5">
          <img class="mt-md-3 mb-md-3 d-none d-md d-md-inline-block" src="../assets/img/sm-今天是個吃甜點的好日子.png" alt="">
        </div>
      </div>

      <p class="d-none d-md-inline-block mt-md-5 footer-text-style">© 2018 Sweetaste* All Rights Reserved</p>
    </div>
    <div class="col-1"></div>
  </div>
</div>
